{% extends '_layout.html' %}
{% set title = '404' %}
{% set page = '404' %}

{% block body %}
  <div class="text-center">
    <div class="display-1 text-warning">
      <i class="fas fa-exclamation-triangle"></i>
    </div>
    <h1>404</h1>
    <p>Page not found.</p>
  </div>
{% endblock %}
