{% extends '_layout.html' %}
{% set title = 500 %}
{% set page = 500 %}

{% block body %}
  <div class="text-center">
    <div class="display-1 text-danger">
      <i class="fas fa-exclamation-circle"></i>
    </div>
    <h1>500</h1>
    <p>Server error.</p>
  </div>
{% endblock %}
