<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8"/>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>{{ title + ' | ' if title else '' }}Mezzo</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/fontawesome.min.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
  </head>
  <body class="d-flex flex-column h-100 bg-secondary">
    <header>
      <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="container">
          <div class="col pr-0">
            <a class="navbar-brand" href="/">
              <img src="/shield.png" class="d-inline-block align-top" height="32px" width="32px" alt="Mezzo">
            </a>
          </div>
          <div class="col pl-0 flex-fill">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link{{ ' active' if page == 'home' else '' }}" href="/">Home</a>
              </li>
              {% if user %}
                <li class="nav-item">
                  <a class="nav-link{{ ' active' if page == 'profile' else '' }}" href="/profile">Profile</a>
                </li>
                {% if user.roles.includes('admin') %}
                  <li class="nav-item">
                    <a class="nav-link{{ ' active' if page == 'users' else '' }}" href="/users">Users</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link{{ ' active' if page == 'access-control' else '' }}" href="/access_control">Access Control</a>
                  </li>
                {% endif %}
                <li class="nav-item ml-auto">
                  <a class="nav-link" href="/signout">Sign Out</a>
                </li>
              {% else %}
                <li class="nav-item ml-auto">
                  <a class="nav-link{{ ' active' if page == 'signin' else '' }}" href="/signin">Sign In</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>

      {% if user %}
        <div class="alert alert-info rounded-0 mb-0 px-0">
          <div class="container">
            <div>Signed in as: <strong>{{ user.username }}</strong>
            </div>
          </div>
        </div>
      {% endif %}

      {% for type, msgs in flash() | await %}
        {% if msgs.length > 0 %}
          <div class="alert alert-{{ type }} rounded-0 mb-0 px-0">
            <div class="container d-flex align-items-center">
              {{ type | alert_icon | safe }}
              <span class="ml-3 text-pre-wrap">{{ msgs | join('\n') }}</span>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </header>

    <main class="container mt-sm-3 mb-3 p-0 p-sm-3 text-light">
      {% if page != 'signin' %}
        <div class="p-3 bg-dark shadow-sm rounded">
      {% endif %}

      {% block body %}{% endblock %}

      {% if page != 'signin' %}
        </div>
      {% endif %}
    </main>

    <footer class="mt-auto bg-dark py-3 text-light">
      <div class="container">
        <span>Authentication in-between subdomains</span>
      </div>
    </footer>
  </body>
</html>
