{% macro field(label, id, name, type='text', placeholder, help, required, value) -%}
<div class="form-group row">
  <label for="{{ id | default(name) }}" class="col-md-2 col-form-label">{{ label }}</label>
  <div class="col-auto d-flex flex-column">
    <input
      type="{{ type }}"
      class="form-control check-validity"
      id="{{ id | default(name) }}"
      name="{{ name }}"
      {% if type == "password" %}
      minlength="8"
      {% endif %}
      {% if placeholder %}
      placeholder="{{ placeholder }}"
      {% endif %}
      {% if name == "username" %}
      pattern="[0-9A-Za-z_\-]+"
      {% endif %}
      {% if value %}
      value="{{ value }}"
      {% endif %}
      {% if required %}
      required
      {% endif %}
    >
    {% if help %}
    <small class="form-text text-light">{{ help }}</small>
    {% endif %}
  </div>
</div>
{%- endmacro %}

{% macro timeZoneSelect(id, name, value, placeholder, options) -%}
<div class="form-group row">
  <label for="{{ id | default(name) }}" class="col-md-2 col-form-label">Time Zone</label>
  <div class="col-auto d-flex flex-column">
    <input
      type="text"
      class="form-control"
      id="{{ id | default(name) }}"
      name="{{ name }}"
      list="{{ id | default(name) }}-list"
      value="{{ value }}"
      placeholder="{{ placeholder | default(value) }}"
      required
    >
    <datalist id="{{ id | default(name) }}-list">
      {% for option in options %}
      <option value="{{ option }}"></option>
      {% endfor %}
    </datalist>
  </div>
</div>
{%- endmacro %}
