{% extends '_layout.html' %}
{% set title = 'Access Control' %}
{% set page = 'access-control' %}

{% import '_macros.html' as macros %}

{% block body %}
  <h1>Access Control Rules</h1>

  <ul class="list-group scroll-content-y">
    {% for rule in access_control %}
      <li
        class="list-group-item list-group-item-dark d-flex align-items-center"
      >
        <a
          class="btn btn-warning"
          title="Edit rule"
          href="/access_control/{{ rule.domain }}"
        >
          <i class="fas fa-pen"></i>
        </a>
        <div class="d-flex flex-column ml-3">
          <div>{{ rule.domain }}</div>
          {% if rule.type == 'allow' %}
            {% if rule.roles.length == 0 %}
              <small>Deny all users.</small>
            {% else %}
              <small>Allow users with at least one role in:  {{ rule.roles.join(', ') }}</small>
            {% endif %}
          {% else %}
            {% if rule.roles.length == 0 %}
              <small>Allow all users.</small>
            {% else %}
              <small>Deny users with at least one role in:  {{ rule.roles.join(', ') }}</small>
            {% endif %}
          {% endif %}
        </div>
        <form action="/access_control/{{ rule.domain }}/delete" method="post" class="ml-auto">
          <button
            class="btn btn-danger"
            title="Delete Rule"
          >
            <i class="fas fa-trash-alt"></i>
          </button>
        </form>
      </li>
    {% endfor %}
  </ul>

  <details class="mt-3">
    <summary><h2 class="d-inline-block align-middle mb-0">New Rule</h2></summary>

    <form action="/access_control" method="post" class="mt-2">
      {{
        macros.field(
          label='Domain',
          name='domain',
          placeholder='example.' + domain,
          required=true
        )
      }}
      <div class="form-group row">
        <label for="type" class="col-md-2 col-form-label">Type</label>
        <div class="col-auto d-flex flex-column">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="type" id="ctrl-type-allow" value="allow" checked>
            <label class="form-check-label" for="ctrl-type-allow">
              Allow
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="type" id="ctrl-type-deny" value="deny">
            <label class="form-check-label" for="ctrl-type-deny">
              Deny
            </label>
          </div>
          <small class="form-text text-light">Allow/Deny users with at least one of the below roles</small>
        </div>
      </div>
      {{
        macros.field(
          label='Roles',
          name='roles',
          placeholder='role1, role2',
          help='Comma separated list'
        )
      }}
      <button class="btn btn-primary" type="submit">Create rule</button>
    </form>
  </details>
{% endblock %}
