{% extends '_layout.html' %}
{% set title = 'Edit Access Control' %}
{% set page = 'access-control-edit' %}

{% import '_macros.html' as macros %}

{% block body %}
  <h1>Edit Access Control Rule</h1>

  <form action="/access_control/{{ editing.domain }}" method="post" class="mt-2">
    <div class="form-group row">
      <label for="domain" class="col-md-2 col-form-label">Domain</label>
      <div class="col-auto d-flex flex-column">
        <span>{{ editing.domain }}</span>
      </div>
    </div>
    <div class="form-group row">
      <label for="type" class="col-md-2 col-form-label">Type</label>
      <div class="col-auto d-flex flex-column">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="type" id="ctrl-type-allow" value="allow"{{ ' checked' if editing.type == 'allow' else '' }}>
          <label class="form-check-label" for="ctrl-type-allow">
            Allow
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="type" id="ctrl-type-deny" value="deny"{{ ' checked' if editing.type == 'deny' else '' }}>
          <label class="form-check-label" for="ctrl-type-deny">
            Deny
          </label>
        </div>
        <small class="form-text text-light">Allow/Deny users with at least one of the below roles</small>
      </div>
    </div>
    {{
      macros.field(
        label='Roles',
        name='roles',
        placeholder='role1, role2',
        help='Comma separated list'
      )
    }}
    <button class="btn btn-primary" type="submit">Edit rule</button>
  </form>
{% endblock %}
