{% extends '_layout.html' %}
{% set title = 'Profile' %}
{% set page = 'profile' %}

{% import '_macros.html' as macros %}

{% block body %}
  <h1>Profile</h1>

  <details class="mt-3" open>
    <summary><h2 class="d-inline-block align-middle mb-0">Tokens</h2></summary>

    <ul class="list-group scroll-content-y">
      {% for token in tokens %}
      <li
        class="list-group-item list-group-item-dark d-flex justify-content-between align-items-center{{ ' active' if token.key == user.token.key else '' }}"
      >
        <div class="d-flex flex-column">
          <div>{{ token.userAgent }}</div>
          <small>Created: {{ token.created }}</small>
          <small>Expires: {{ token.expires }}</small>
        </div>
        <form action="/profile/revoke-token" method="post">
          <button
            class="btn btn-danger"
            title="Revoke token"
            name="key"
            value="{{ token.key }}"
          >
            <i class="fas fa-trash-alt"></i>
          </button>
        </form>
      </li>
      {% endfor %}
    </ul>
  </details>

  <details class="mt-3"{{ ' open' if open == 'settings' else '' }}>
    <summary><h2 class="d-inline-block align-middle mb-0">Settings</h2></summary>

    <form action="/profile/settings" method="post" class="mt-2">
      <div class="form-group row">
        <label class="col-md-2 col-form-label">Username</label>
        <div class="col-auto d-flex align-items-center">
          <span>{{ user.username }}</span>
        </div>
      </div>
      {{
        macros.timeZoneSelect(
          id='time-zone',
          name='time-zone',
          value=user.timeZone,
          options=validTimeZones
        )
      }}
      <div class="form-group row">
        {% if user.roles.includes('admin') %}
          <label for="user-roles" class="col-md-2 col-form-label">Roles</label>
          <div class="col-auto d-flex flex-column">
            <input
              type="text"
              class="form-control"
              id="user-roles"
              name="user-roles"
              placeholder="role1, role2"
              value="{{ user.roles.join(', ') }}"
            >
            <small class="form-text text-light">Comma separated list</small>
          </div>
        {% else %}
          <label class="col-md-2 col-form-label">Roles</label>
          <div class="col-auto d-flex align-items-center">
            {% if user.roles.length > 0 %}
              <span>{{ user.roles.join(', ') }}</span>
            {% else %}
              <i>none</i>
            {% endif %}
          </div>
        {% endif %}
      </div>
      <button class="btn btn-primary" type="submit">Update settings</button>
    </form>
  </details>

  <details class="mt-3"{{ ' open' if open == 'password' else '' }}>
    <summary><h2 class="d-inline-block align-middle mb-0">Change Password</h2></summary>

    <form action="/profile/password" method="post" class="mt-2">
      {{
        macros.field(
          label='Current Password',
          name='current-password',
          type='password',
          placeholder='••••••••',
          required=true
        )
      }}
      {{
        macros.field(
          label='New Password',
          name='password',
          type='password',
          placeholder='••••••••',
          help='Minimum length of 8',
          required=true
        )
      }}
      {{
        macros.field(
          label='Repeat Password',
          name='password-repeat',
          type='password',
          placeholder='••••••••',
          required=true
        )
      }}
      <button class="btn btn-primary" type="submit">Change password</button>
    </form>
  </details>
{% endblock %}
