{% extends '_layout.html' %}
{% set title = 'Sign In' %}
{% set page = 'signin' %}

{% block body %}
  <div class="row">
    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 p-3 bg-dark shadow-sm rounded">
      <div class="text-center">
        <h1>Sign In</h1>
        {% if url %}
        <p>
          <em>to proceed to {{ url }}</em>
        </p>
        {% endif %}
      </div>

      <form action="" method="post">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            required
          />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            required
          />
        </div>

        <div class="form-group">
          <label for="expires-in">Session expires in</label>
          <select class="custom-select" id="expires-in" name="expires-in">
            <option value="600">10 minutes</option>
            <option value="3600" selected>1 hour</option>
            <option value="28800">8 hours</option>
            <option value="86400">24 hours</option>
            <option value="604800">1 week</option>
            <option value="2419200">4 weeks</option>
          </select>
        </div>

        <button class="btn btn-primary">Sign In</button>
      </form>
    </div>
  </div>
{% endblock %}
