{% extends '_layout.html' %}
{% set title = 'User Edit' %}
{% set page = 'user-edit' %}

{% import '_macros.html' as macros %}

{% block body %}
  <h1>User Edit</h1>

{% if not editing %}
  <span>No such user</span>
{% else %}
  <h2>Tokens</h2>
  {% if editing.tokens | length == 0 %}
    <span>No Tokens</span>
  {% else %}
    <ul class="list-group scroll-content-y">
      {% for token in editing.tokens %}
        <li
          class="list-group-item list-group-item-dark d-flex justify-content-between align-items-center{{ ' active' if token.username == user.token.username and token.key == user.token.key else '' }}"
        >
          <div class="d-flex flex-column">
            <div>{{ token.userAgent }}</div>
            <small>Created: {{ token.created }}</small>
            <small>Expires: {{ token.expires }}</small>
          </div>
          <form action="/users/{{ editing.username }}/revoke-token" method="post">
            <button
              class="btn btn-danger"
              title="Revoke token"
              name="key"
              value="{{ token.key }}"
            >
              <i class="fas fa-trash-alt"></i>
            </button>
          </form>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <h2 class="mt-3">Settings</h2>
  <form action="/users/{{ editing.username }}/settings" method="post">
    <div class="form-group row">
      <label class="col-md-2 col-form-label">Username</label>
      <div class="col-auto d-flex align-items-center">
        <span>{{ editing.username }}</span>
      </div>
    </div>
    {{
      macros.timeZoneSelect(
        id='time-zone',
        name='time-zone',
        value=editing.timeZone,
        placeholder=user.timeZone,
        options=validTimeZones
      )
    }}
    {{
      macros.field(
        label='Roles',
        name='user-roles',
        value=editing.roles.join(', '),
        placeholder='role1, role2'
      )
    }}
    <button class="btn btn-primary" type="submit">Update settings</button>
  </form>

  <details class="mt-3"{{ ' open' if open == 'password' else '' }}>
    <summary><h2 class="d-inline-block align-middle mb-0">Change Password</h2></summary>

    <form action="/users/{{ editing.username }}/password" method="post" class="mt-2">
      {% if editing.username == user.username %}
        {{
          macros.field(
            label='Current Password',
            name='current-password',
            type='password',
            placeholder='••••••••',
            required=true
          )
        }}
      {% endif %}
      {{
        macros.field(
          label='New Password',
          name='password',
          type='password',
          placeholder='••••••••',
          help='Minimum length of 8',
          required=true
        )
      }}
      {{
        macros.field(
          label='Repeat Password',
          name='password-repeat',
          type='password',
          placeholder='••••••••',
          required=true
        )
      }}
      <button class="btn btn-primary" type="submit">Change password</button>
    </form>
  </details>
{% endif %}
{% endblock %}
