{% extends '_layout.html' %}
{% set title = 'Users' %}
{% set page = 'users' %}

{% import '_macros.html' as macros %}

{% block body %}
  <h1>Users</h1>

  <ul class="list-group scroll-content-y">
    {% for usr in users %}
      <li
        class="list-group-item list-group-item-dark d-flex align-items-center{{ ' active' if usr.username == user.username else '' }}"
      >
        <a
          class="btn btn-warning"
          title="Edit user"
          href="/users/{{ usr.username }}"
        >
          <i class="fas fa-pen"></i>
        </a>
        <div class="d-flex flex-column ml-3">
          <div>{{ usr.username }}</div>
          <small>Tokens: {{ usr.numTokens }}</small>
          <small>Time zone: {{ usr.timeZone }}</small>
          <small>Roles: {{ usr.roles.join(', ') }}</small>
        </div>
        {% if usr.username != user.username %}
          <form action="/users/{{ usr.username }}/delete" method="post" class="ml-auto">
            <button
              class="btn btn-danger"
              title="Delete user"
            >
              <i class="fas fa-trash-alt"></i>
            </button>
          </form>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <details class="mt-3"{{ ' open' if open == 'new-user' else '' }}>
    <summary><h2 class="d-inline-block align-middle mb-0">New User</h2></summary>

    <form action="/users" method="post" class="mt-2">
      {{
        macros.field(
          label='Username',
          name='username',
          placeholder='cool-username',
          help='0-9, A-Z, a-z, _, and - only',
          required=true
        )
      }}
      {{
        macros.timeZoneSelect(
          id='time-zone',
          name='time-zone',
          value=user.timeZone,
          options=validTimeZones
        )
      }}
      {{
        macros.field(
          label='Roles',
          name='user-roles',
          placeholder='role1, role2',
          help='Comma separated list'
        )
      }}
      {{
        macros.field(
          label='Password',
          name='password',
          type='password',
          placeholder='••••••••',
          help='Minimum length of 8',
          required=true
        )
      }}
      {{
        macros.field(
          label='Repeat Password',
          name='password-repeat',
          type='password',
          placeholder='••••••••',
          required=true
        )
      }}
      <button class="btn btn-primary" type="submit">Create user</button>
    </form>
  </details>
{% endblock %}
