.text-pre-wrap {
    white-space: pre-wrap;
}

.scroll-content-y {
    max-height: 350px;
    overflow-y: auto;
}

.check-validity:invalid:not(:placeholder-shown) {
    border-color: var(--red);
}

.check-validity:invalid:not(:placeholder-shown):focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}
